coverage
.env
node_modules/@babel
node_modules/@sinonjs
node_modules/@types*
node_modules/babel-jest
node_modules/jest
node_modules/node-notifier
node_modules/pretty-format
node_modules/ts*
node_modules/type*
node_modules/v8-to-istanbul
node_modules/yargs*
node_modules/caniuse-lite
node_modules/y18n
